//1. ESTILOS ABSTRACTOS
@use "abstracts";

//2. VENDORS -> FRAMEWORKS DE TERCEROS
@use "vendors";

//3. ESTILOS BASE DEL PROYECTO -> RESET, TIPOGRAFÍA
@use "base";

//5. COMPONENTES REUTILIZABLES
@use "components"; 

//6. ESTILOS DIRIGIDOS A UNA PÁGINA PUNTUAL
@use "pages";