@use "../abstracts/variables" as *;

.home-page {
    background-color: $bg-green;
}

.home-header {
    text-align: center;
    padding: 3rem 1rem;


    &__title {
        color: $color-accent;
    }


    &__subtitle {
        color: $color-indigo;
        padding: 2rem 0;
    }
}
