@use "../abstracts/variables" as *;

.home-page {
    background-color: $bg-green;
}

.home-header {
    text-align: center;
    padding: 3rem 1rem;


    &__title {
        color: $color-accent;
    }


    &__subtitle {
        color: $color-indigo;
        padding: 2rem 0;
    }
}

.home-container-button {
    display: flex;
    justify-content: center;
    padding: 2rem 0.5rem;
    align-items: center;
}

.home-container-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-bottom: 3rem;

}

