.footer {
    text-align: center;
    background-color: rgb(231, 168, 68);
    padding: 2rem;
    font-size: 1.5rem;

    &__link, &__text {
        color: darkblue;
    }

    &__link {
        text-decoration: none;
        margin: 25px;
    }
}