//BACKGROUNDS COLORS
$bg-green: #4CAF50;

//TEXT COLORS
$color-indigo: indigo;
$color-accent: #E91E63;
$color-primary: #2196f3;

$custom-colors: (
    "custom-primary": $color-indigo,
    "custom-secondary": $color-accent,
)